In [1]:
import pandas as pd
import numpy as np

In [38]:
labels = pd.read_csv('/home/alexis/Bureau/historique/label-09-05.csv')

In [39]:
data = pd.read_csv('merged_2018-05-09.csv')

In [45]:
labels.sum()

label          169
minutes    1295280
dtype: int64

In [41]:
labels['minutes'] = labels.index+180

In [42]:
l = labels[labels['label']==1].index

In [43]:
for i in l:
    labels['label'][i-1] = 1
    labels['label'][i+1] = 1

In [44]:
labels.head()

   label  minutes
0      0      180
1      0      181
2      0      182
3      0      183
4      0      184

In [46]:
data.head()

,minutes,isinprogramme,debut,fin,TITRE,CP,CSA,STEREO,PT3,DOLBY,...,NOUVEAUTE,TITREEMISSION,VOST,DOLBY51,PT2,DATE,temps depuis debut,temps avant fin,pourcentage déjà vu,heure
0,386,1,385,505,TFou,1,1.0,1.0,0.0,0.0,...,0.0,TFou,0.0,0.0,0.0,2018-05-09,1.0,119.0,0.008333,6h26
1,387,1,385,505,TFou,1,1.0,1.0,0.0,0.0,...,0.0,TFou,0.0,0.0,0.0,2018-05-09,2.0,118.0,0.016667,6h27
2,428,1,385,505,TFou,1,1.0,1.0,0.0,0.0,...,0.0,TFou,0.0,0.0,0.0,2018-05-09,43.0,77.0,0.358333,7h8
3,440,1,385,505,TFou,1,1.0,1.0,0.0,0.0,...,0.0,TFou,0.0,0.0,0.0,2018-05-09,55.0,65.0,0.458333,7h20
4,441,1,385,505,TFou,1,1.0,1.0,0.0,0.0,...,0.0,TFou,0.0,0.0,0.0,2018-05-09,56.0,64.0,0.466667,7h21

In [47]:
df = data.merge(labels)

In [48]:
df.to_csv('labeled_merged_2018-05-09.csv',index=False)