In [1]:
#################################################
#created the 17/05/2018 14:14 by Alexis Blanchet#
#################################################
#-*- coding: utf-8 -*-
'''

'''

'''
Améliorations possibles:

'''
############ display options ####################
import warnings
warnings.filterwarnings('ignore')
from IPython.display import display_html
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

import pandas as pd
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
#################################################
###########        Imports      #################
#################################################
import pandas as pd
import numpy as np

In [8]:
PTV = pd.read_csv('IPTV_2018-05-09_TF1.csv')[['TITRE','DUREE','description programme','HEURE',
       'debut']]
PTV['fin'] = PTV['debut']+PTV['DUREE']
Points = pd.read_csv('merged_2018-05-09.csv')[['minutes','heure','label','debut','fin','TITRE','DUREE','description programme', 'temps depuis debut', 'temps avant fin',
       'pourcentage déjà vu']]
newPTV = pd.read_csv('newPTV.csv')

In [9]:
PTV.head()

                          TITRE  DUREE   description programme     HEURE  debut  fin
0                          TFou    120       Magazine jeunesse  06:25:00    385  505
1                         Météo      5                   Météo  08:25:00    505  510
2                  Téléshopping     45  Magazine de télé-achat  08:30:00    510  555
3                         Météo      5                   Météo  09:15:00    555  560
4  Petits secrets entre voisins     30          Série réaliste  09:20:00    560  590

In [10]:
newPTV.head()

                   TITRE  DUREE  description programme     HEURE  debut  fin Heure réelle  minute réelle  retard         commentaire
0  Programmes de la nuit    255  Programme indéterminé  02:10:00    130  385            0              0       0  début du programme
1  Programmes de la nuit    255  Programme indéterminé  02:10:00    130  385         6h34            394       9        fin détectée
2                   TFou    120      Magazine jeunesse  06:25:00    385  505         6h34            394       9  début de programme
6                   TFou    120      Magazine jeunesse  06:25:00    385  505         8h24            504       1        fin détectée
7                  Météo      5                  Météo  08:25:00    505  510         8h24            504       1  début de programme

In [13]:
j = 0
for index, row in newPTV.iterrows():
        modified = False
        while(not modified):
            if(row['commentaire'] == 'début de programme'):
                if(PTV['TITRE'][j] == row['TITRE']):
                    PTV.set_value(j,'debut', row['minute réelle'])
                    modified = True
                else:
                    j = j+1
            else:
                modified = True

In [15]:
PTV.to_csv('PTV_2018-05-09_TF1.csv',index=False)