In [44]:
#################################################
#created the 23/04/2018 12:57 by Alexis Blanchet#
#################################################


import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random
import os
import scipy.stats
import matplotlib
import plotly.offline as offline
import plotly.graph_objs as go
import datetime

In [39]:
def get_info(file):
    pd.read_csv(file)
    date = list(file.split('-')[1])
    year = ''.join((date[0],date[1],date[2],date[3]))
    month = ''.join((date[4],date[5]))
    day = ''.join((date[6],date[7]))
    heure = ''.join((date[8],date[9])
    minute = ''.join((date[10],date[11]))
    return([year,month,day,heure,minutes])

In [40]:
get_info('odVect.csv-20180404011201')

['2018', '04', '04', '0112']

In [41]:
def load_file(file):
    df = pd.read_csv(file,sep=';')
    time = df.columns.values[1]
    date = datetime.datetime.fromtimestamp(
        int(time)
    ).strftime('%Y-%m-%d %H:%M:%S')
    df = df.rename(index=str, columns={"Unnamed: 0": "tf", time: "count"})
    print(date)
    df["chaine d'origine"]=df['tf'].apply(get_origin)
    df["chaine d'arrivée"]=df['tf'].apply(get_destination)
    return df,date


def get_origin(x):
    x = int(x) & ((1<<24)-1)
    return x

def get_destination(x):
    x = int(x)>>24 & ((1<<24)-1)
    return x

In [42]:
df,date = load_file('odVect.csv-20180404011201')

2018-04-04 01:12:00

In [43]:
df

                   tf  count  chaine d'origine  chaine d'arrivée
0                   0      1                 0                 0
1                  78      2                78                 0
2                 325      1               325                 0
3                 446      1               446                 0
4                 482      1               482                 0
5                1307      1              1307                 0
6                1401      1              1401                 0
7            33554434      3                 2                 2
8            33554510      1                78                 2
9            33554512      1                80                 2
10           33554543      1               111                 2
11           33554547      1               115                 2
12           33554551      1               119                 2
13           33554572      1               140                 2
14           33554592      1               160                 2
15           33554627      1               195                 2
16           33554657      2               225                 2
17           33554714      1               282                 2
18           33554832      1               400                 2
19           33554877      1               445                 2
20           33554911      2               479                 2
21           33554913      1               481                 2
22           33555585      1              1153                 2
23           33556733      2              2301                 2
24           33556752      1              2320                 2
25           50331647      2          16777215                 2
26           67108863      2          16777215                 3
27           67108868     15                 4                 4
28           67108874      1                10                 4
29           67108898      2                34                 4
...               ...    ...               ...               ...
2552  562949936645647      2              1551          16777215
2553  562949936645651      1              1555          16777215
2554  562949936645658      3              1562          16777215
2555  562949936645681      1              1585          16777215
2556  562949936645733      1              1637          16777215
2557  562949936645794      2              1698          16777215
2558  562949936645798      1              1702          16777215
2559  562949936645842      1              1746          16777215
2560  562949936645861      6              1765          16777215
2561  562949936645992      1              1896          16777215
2562  562949936646056      3              1960          16777215
2563  562949936646108      1              2012          16777215
2564  562949936646136      1              2040          16777215
2565  562949936646146      1              2050          16777215
2566  562949936646160     10              2064          16777215
2567  562949936646161      1              2065          16777215
2568  562949936646168      3              2072          16777215
2569  562949936646191     10              2095          16777215
2570  562949936646192     15              2096          16777215
2571  562949936646207      3              2111          16777215
2572  562949936646262      1              2166          16777215
2573  562949936646280     11              2184          16777215
2574  562949936646397     15              2301          16777215
2575  562949936646413      1              2317          16777215
2576  562949936646416     13              2320          16777215
2577  562949936646420      1              2324          16777215
2578  562949936646444      1              2348          16777215
2579  562949936646487      2              2391          16777215
2580  562949936646538      3              2442          16777215
2581  562949953421311     66          16777215          16777215

[2582 rows x 4 columns]